/*General*/
.hr-title {
  width: 60px; 
  background-color: #000000; 
  height: 3px
}

/*Redes sociales*/
.btn-floating {
    width: 2.3125rem;
    height: 2.3125rem;
}

.btn-floating, [class*=btn-outline-].btn-floating {
    border-radius: 50%;
    padding: 0;
    position: relative;
}

/*Imagen de cabecera*/
.bg-image {
  background-image: url(../img/background.jpg);
  height: 100vh;
  background-size: cover;
}

/*Banner parallax*/
.banner {
  background-image: url("../img/banner.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

/*Seccion de contacto*/
.contact-info {
    margin-top: -93px;
}

.contact-info .range {
    background-color: #fff;
    box-shadow: 0 0px 7px 0 rgb(0 0 0 / 13%);
}